# Core dependencies
streamlit>=1.38
pandas>=2.2
plotly>=5.24
scikit-learn>=1.5
nltk>=3.9
spacy>=3.8
emoji>=2.14
python-dotenv>=1.0

# For web scraping / APIs
praw>=7.8
requests>=2.32

git+https://github.com/praw-dev/praw.git@master